.pass-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form {
  display:flex;
  flex-direction: row;
  font-family: secretFont;
  border: 1px solid black;
  border-radius: 15px;
  padding:0px;
}

.form input {
  flex-grow: 2;
  padding: 10px;
  border-radius: 15px;
  border:none;
}

.form input::placeholder {
  text-align: center;
}

.form input:focus {
  outline: none;
}

.form button {
  background-color: black;
  font-family: secretFont;
  color: white;
  border-radius: 15px;
  border: 1px solid black;
}

.form button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.copybtn {
  background-color: white;
  font-family: secretFont;
  color: black;
  padding: 10px 5px;
  border-radius: 15px;
  border: 1px solid black;
  transition: all 0.2 ease;
  font-size: small;
}

.copybtn:hover {
background-color: black;
color: white;
border: 1px solid white;
}

.text-container {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.text-container textarea {
  width: 100%;
  height: 40%;
  overflow-y: scroll;
  font-size: medium;
  padding: 2%;
  z-index: 2;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid black;
}

.text-container textarea::placeholder {
  text-align: center;
  font-size: medium;
  color: #ccc;
}

.text-container textarea::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.text-container textarea::-webkit-scrollbar
{
	width: 10px;
  height: 10px;
  border-radius: 15px;
	background-color: #F5F5F5;
}

.text-container textarea::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}


