.modal-background {
    background-color: black;
    opacity: 0.7;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.modal {
    z-index: 1;
    background-color: #F5F5F5;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 10%;
    padding: 5%;
    opacity: 1 !important;
    border-radius: 15px;
    justify-content: center;
}

.img-container {
   width: 20px;
   height: auto;
   justify-content: flex-end;
   margin-left:auto;
}


.modal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modal ul li{
    border-bottom: 1px solid #ccc;
}

.modal ul li a{
    text-decoration: none;
  color: #000;
   font-size: medium;
  -webkit-transition: font-size 0.2s ease, background-color 0.2s ease;
  -moz-transition: font-size 0.2s ease, background-color 0.2s ease;
  -o-transition: font-size 0.2s ease, background-color 0.2s ease;
  -ms-transition: font-size 0.2s ease, background-color 0.2s ease;
  transition: font-size 0.2s ease, background-color 0.2s ease;
  display: block;
  width: 300px;
}

.modal ul li a:hover{
    font-size: large;
    background-color: #f6f6f6;
}

.modal ul li:last-child{
    border: none;
}