body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
}

@font-face {
  font-family: secretFont;
  src: url(./assets/Sora-VariableFont_wght.ttf);
}

#root {
  display: flex;
  padding-top: 5%;
  justify-content: center;
}